<style>
      .header img{
        float: left;
        width: 80px;
        height: 80px;
      }
      option{
        font-style: italic;
      }
</style>
<form action='/result' method="POST">
    <div class="header">
        <img src="images/Icon01.png" alt="logo" />
        <div class="header-text">
            <p style="height: 30px;">
                ในขั้นตอนที่ 1 ทำการลงทะเบียนก่อน เพื่อรับ <b>ชื่อผู้ใช้</b> และ
                <b>รหัสผ่าน</b>
            </p>
            <p>ใช้ในการกรอกใบสมัครในขั้นตอนที่ 2</p>
        </div>
    </div>

    <fieldset style="width: 60%;padding: 10px;border: 2px solid #3CBC8D;margin: auto;">
        <legend style="width: 100%; border: 2px solid rgb(60, 179, 113); background-color:#3CBC8D;">ข้อมูลทั่วไป
            [ภาษาไทย]</legend>
        <div>
            <span style="margin-left:600px; margin-bottom:100px;">
                <label style="text-decoration: underline;">หมายเลขบัตรประชาชน:<input type="text" name="id" required /></label><br>
                <label for="prefix" style="text-decoration: underline;">คำนำหน้าชื่อ:</label><select style="margin-left:28px;" name="prefix">
                    <option selected>เลือก...</option>
                    <option value="นาย">นาย</option>
                    <option value="นางสาว">นางสาว</option>
                    <option value="นาง">นาง</option>
                </select>
            </span>
            <span style="margin-left:230px;">
                <label for="fname" style="text-decoration: underline;">ชื่อ:</label>
                <input type="text" name="fname" required />
            </span>
            <span style="margin-left:230px;">
                <label for="lname" style="float: inline-end; text-decoration: underline;">นามสกุล:</label>
                <input type="text" name="lname" required />
            </span><br>
            <span>
                <label for="nickname" style="text-decoration: underline;">ชื่อเล่น:</label>
                <input type="text" name="nickname" style="margin-left:62px;" required />
            </span>
            <span style="margin-left:44px;">
                <label for="birthday" style="text-decoration: underline;">วัน/เดือน/ปี เกิด:</label>
                <input type="date" name="birthday" required /><img src="images/Icon02.png" alt="icon" style="width: 20px; height: 20px; margin-left: 10px;">
            </span><br>
            <span>
                <label for="province" style="text-decoration: underline;">จังหวัด:</label><select style="margin-left:66px;" name="province">
                    <option selected>เลือก...</option>
                    <option value="ชลบุรี">ชลบุรี</option>
                    <option value="กรุงเทพ">กรุงเทพ</option>
                    <option value="ระยอง">ระยอง</option>
                </select>
            </span>
            <span style="margin-left:181px;">
                <label for="county" style="text-decoration: underline;">อำเภอ/เขต:</label><select name="county">
                    <option selected>เลือก...</option>
                    <option value="สัตหีบ">สัตหีบ</option>
                    <option value="แสนสุข">แสนสุข</option>
                    <option value="บางเขน">บางเขน</option>
                </select>
            </span>
            <span style="margin-left:319px;">
                <label for="district" style="text-decoration: underline;">ตำบล/แขวง:</label><select name="district">
                    <option selected>เลือก...</option>
                    <option value="สัตหีบ">สัตหีบ</option>
                    <option value="สีลม">สีลม</option>
                    <option value="บางรัก">บางรัก</option>
                </select>
            </span><br>
            <span>
                <label for="home" style="text-decoration: underline;">บ้านเลขที่:</label>
                <input type="text" name="home" style="margin-left:43px;" required />
            </span>
            <span style="margin-left:114px;">
                <label for="road" style="text-decoration: underline;">ถนน:</label>
                <input type="text" name="road" required />
            </span>
            <span style="margin-left:200px;">
                <label for="post" style="text-decoration: underline;">รหัสไปรษณีย์:</label>
                <input type="text" name="post" required />
            </span><br>
            <span>
                <label for="telephone" style="text-decoration: underline;">โทรศัพท์:</label>
                <input type="text" name="telephone" style="margin-left:48px;" required />
            </span>
            <span style="margin-left:93px;">
                <label for="fax" style="text-decoration: underline;">โทรสาร:</label>
                <input type="text" name="fax" required />
            </span>
            <span style="margin-left:158px;">
                <label for="smartphone" style="text-decoration: underline;">เบอร์โทรศัพท์มือถือ:</label>
                <input type="text" name="smartphone" required />
            </span><br>
            <span>
                <label for="email" style="text-decoration: underline;">อีเมล:</label>
                <input type="text" name="email" style="margin-left:72px;" required />
            </span>
        </div><br>
        <fieldset style="border: 2px solid #3CBC8D;margin: auto;">
            <legend style="width: 100%; border: 2px solid rgb(60, 179, 113); background-color:#3CBC8D;">ข้อมูลทั่วไป
                [ภาษาอังกฤษ]</legend>
            <div style="margin-top: 18px;">
                <span>
                    <label for="prefix_en" style="text-decoration: underline;">Prefix:</label><select style="margin-left:58px;" name="prefix_en">
                        <option selected>chose...</option>
                        <option value="Mr.">Mr.</option>
                        <option value="Ms.">Ms.</option>
                        <option value="Mrs.">Mrs.</option>
                    </select>
                </span>
                <label for="fname_en" style="margin-left:184px; text-decoration: underline;">First name</label>
                <input type="text" name="fname_en" required />
                <label for="lname_en" style="margin-left:223px; text-decoration: underline;">Last name</label>
                <input type="text" name="lname_en" required />
            </div><br>
            <legend style="width: 100%; height: 30px; border: 2px solid rgb(60, 179, 113); background-color:#3CBC8D;">
                <div style="float: right;">
                    <button type="submit" style="width: 80px;height: 30px;">บันทึก</button>
                    <button style="width: 80px;height: 30px;" type="cancel">ยกเลิก</button>
                </div>
            </legend>
        </fieldset>
    </fieldset>
</form>