<fieldset>
    <legend> Login Page </legend>
    <form action='/result' method="POST">
      <div>
        <label>Username:</label>
        <input type="text" name="user" required />
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="pass" required />
      </div>
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
</fieldset>